html {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* hide / show the body when the loader is finished */
body>.inner {
  display: none;
}

body.pg-loaded>.inner {
  display: block;
}

/* transparent scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
/* transparent scrollbar */

/* Fallen */
/* Fallen */
/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  /*width: 120px;*/
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #09090a;
  overflow-x: hidden;
  padding-top: 7px;
}

#SelectWalletsfromListModal{
  display: none;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  /*color: #818181;*/
  color: #424242;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #fff;
}


[type="radio"]:checked+label {
  font-weight: bold;
  background-color: #fffffff7;
    color: #0a961c !important;
}

.approvalchoicelabel {
  margin-left:3% !important;
  background-color: #4a292963;
  color: #b59c54c4;
  padding: 1%;
  cursor:pointer;
}

.approvalchoicelabellight {
  margin-left:3% !important;
  background-color: #400d0d00;
  color: #b59c54c4;
  padding: 1%;
  cursor:pointer;
}


#peerCount {
  bottom: 0;
  height: 20px;
  color: #aaa;
  position: absolute;
  font-size: 0.8em;
  padding-left: 5px;
}

#iconCloseWallet {
  width: 17px;
  position: absolute;
  bottom: 0.7vh;
  right: 4%;
  cursor: pointer;
}

#localBlock {
  bottom: 2vh;
  height: 20px;
  color: #aaa;
  position: absolute;
  font-size: 0.8em;
  padding-left: 5px;
}

#debugdiv {
  bottom: 4vh;
  height: 20px;
  color: #aaa;
  position: absolute;
  font-size: 0.8em;
  padding-left: 5px;
}

#syncProgress {
  height: 20px;
  position: fixed;
  z-index: 999999999;
  /*left: 120px;*/
  left: 160px;
  right: 0;
  bottom: 0;
  background-color: #18523c;
  border-top: 1px solid #000;
}

#ResyncTxsProgress {
  display: none;
    height: 100vh;
    position: absolute;
    z-index: 999999999;
    /* left: 120px; */
    left: 0px;
    /* top: 42vh; */
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0e0e0e;
    border-top: 1px solid #000;
}

.loaderspinner{
  margin: 0px auto 0;
  width: 70px;
  text-align: center;
}

#ResyncTxsProgressP {
  color: white;
    position: absolute;
    top: 63%;
    left: 45%;
}

#mainContent {
  position: fixed;
  z-index: 1;
  /*left: 120px;*/
  left: 160px;
  top: 0;
  right: 0;
  bottom: 20px;
  background-color: #000000;
}

/* Style the main content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 7px;
  }

  .sidebar a {
    /*font-size: 16px;*/
    font-size: 14px;
  }
}

.sidebarIcon {
  width: 100%;
  /*height: 80px;*/
  height: 45px;
  /*line-height: 80px;*/
  line-height: 33px;
}

.sidebarIconWrapper {
  width: 100%;
  /*height: 80px;*/
  height: 40px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding-left: 8px;
  border-left: 0.75px solid #3fff00b5;
  margin-bottom: 1vh;
  margin-left: 0px;
}

#sumBalance {
  float: right;
  line-height: 38px;
  margin-right: 10px;
}

#sumBalanceEti {
  float: right;
  line-height: 38px;
  margin-right: 10px;
}

.sumBalanceHeader {
  float: right;
  line-height: 38px;
  margin-right: 10px;
}

.modalBody {
  margin: 20px;
  color: #333;
}

#dlgGeneralError .modalBody {
  height: 100px;
}

#dlgGeneralErrorNewWallet .modalBody {
  height: 100px;
}

#dlgGeneralErrorImportWallet .modalBody {
  height: 100px;
}

#dlgGeneralConfirm .modalBody {
  height: 100px;
}

#dlgDeleteAddressConfirm .modalBody {
  height: 100px;
}

#dlgShowAddressQRCode .modalBody {
  height: 300px;
}

#dlgAboutInfo .modalBody {
  height: 180px;
}

#dlgCreateWalletPassword .modalBody,
#dlgCreateAddressAndName .modalBody {
  height: 200px;
}

#dlgSendWalletPassword .modalBody,
#dlgImportFromPrivateKey .modalBody {
  height: 300px;
}

#dlgSendEtiWalletPassword .modalBody,
#dlgImportFromPrivateKey .modalBody {
  height: 300px;
}

#dlgTransactionInfo {
  width: 700px;
  max-width: 700px !important;
}

#dlgTransactionInfo .modalBody {
  height: 300px;
}

#dlgAddAddressToBook .modalBody,
#dlgEtiAddAddressToBook .modalBody,
#dlgChangeWalletName .modalBody,
#dlgChangeAddressName .modalBody {
  height: 150px;
}

#dlgAddressListBody,
#dlgAddressListEtiBody {
  margin: 0px;
  padding: 20px;
  background-color: #333;
}

#dlgAddressList .modalBody {
  color: #aaa;
}

#dlgAddressListEti .modalBody {
  color: #aaa;
}

.btn-dialog-confirm {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.btn-dialog-cancel {
  position: absolute;
  bottom: 10px;
  right: 80px;
}

.modalDialog {
  display: none;
  border-bottom: 3px solid #399999 !important;
  border-radius: 0px !important;
}

.iziModal-header {
  /*background: #399999 !important;*/
  /*background: #233837 !important;*/
  background: #0e0e0e !important;
}

#walletsToolbar {
  padding: 10px;
  border-bottom: 1px solid #111;
  border-radius: 0px;
  height: 60px;
}

.walletsToolbar {
  padding: 10px;
  border-bottom: 1px solid #111;
  border-radius: 0px;
  height: 60px;
}

.walletsHeader {
  padding: 10px;
  border-bottom: 1px solid #111;
  border-radius: 0px;
  height: 60px;
}

#transactionsWrapper {
  color: #aaa;
  padding-top: 10px;
}

div.iconSelected {
  /*background-color: ivory;
  border: 1px solid slategray;*/
  background-color: #131313;
  border: 1px solid #ffffff00;
  border-left: 1px solid #399999;
}

div.iconSelected a {
  color:#ffffff !important;
}

div.loadingText {
  color: #aaa;
  margin-top: 50px;
}

#tableTransactionsForAll_wrapper .dataTables_scroll {
  font-size: 0.9em;
}

div.sidebar svg {
  color: #399999;
}

#tableTransactionsForAll_filter {
  color: #aaa;
  padding-right: 10px;
}

#tableTransactionsForAll_filter label {
  color: #aaa;
  font-size: 1em;
}

#tableTransactionsForAll_filter input {
  width: 400px;
  color: #aaa;
  padding: 12px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 2.5em;
  box-sizing: border-box;
}

.floatThead-container {
  background-color: #0e0e0e;
}

.dataTables_scrollBody .transactionsBlockNum {
  /*color: #f92472;*/
  color: #628c54;
  cursor: pointer;
}

.stakesbox {
  border-top: solid 1px white;
    border-bottom: solid 1px white;
    border-right: solid 0.1px grey;
    border-left: solid 0.1px grey;
    margin-right: 2%;
    padding-top: 1% !important;
}

.searchresults {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.sendWrapper {
  padding: 30px;
}

.settingsWrapper {
  padding: 30px;
  padding-top: unset;
}

#sendMaxAmmount {
  margin-right: 5px;
}

#sendEtiMaxAmmount {
  margin-right: 5px;
}

#btnSendAll {
  margin-left: 10px;
}

#btnSendEtiAll {
  margin-left: 10px;
}

.MarginRight5 {
  margin-right: 5px;
}

.MarginLeft10 {
  margin-left: 10px;
}

#addressList {
  overflow-y: auto;
  height: calc(100vh - 80px);
}

#addressList .colEdit {
  padding-left: 20px;
}

#addressList th {
  color: #ccc;
  font-size: 1.1em;
  font-weight: normal;
}

.addressList {
  overflow-y: auto;
  height: calc(100vh - 80px);
}

.addressList .colEdit {
  padding-left: 20px;
}

.addressList th {
  color: #ccc;
  font-size: 1.1em;
  font-weight: normal;
}

.sendTXInfo {
  height: 30px;
}

.sendTXInfo label {
  line-height: 30px;
  font-size: 1.05em;
  font-family: monospace;
}

.txInfo label {
  line-height: 30px;
  margin-left: 5px;
  font-size: 1em;
}

.txInfo label+label {
  color: #399999;
  margin-left: 0px;
}

.sendTXdivider {
  margin-top: 30px;
  margin-bottom: 20px;
}

#fromAddressInfo,
#fromEtiAddressInfo,
#toAddressInfo,
#toEtiAddressInfo,
#valueToSendInfo,
#valueToSendEtiInfo,
#feeToPayInfo,
#feeEtiToPayInfo {
  color: #000000;
  margin-left: 5px;
  margin-right: 5px;
}

.accountName {
  color: #399999;
}

.accountAddr {
  font-size: 0.8em;
}

.pg-loading-screen .pg-loading-html {
  margin-top: 0px;
}

.fromAddressSelect .dropdown-content {
  width: 600px !important;
}

.loadingOverlay {
  /*background-color: #212529;*/
  display: none;
  position: fixed;
  /*left: 120px;*/
  left: 160px;
  right: 0;
  bottom: 20px;
  top: 0;
}

.loadingOverlay .loadingWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loadingTextTransactions {
  font-size: 1.3em;
  margin-bottom: 30px;
}

.spinner .bounce {
  background-color: #aaa;
}

.sumDollars,
.sumBalance,
.sumBalanceEti,
.sumCurrency {
  color: #ccc;
  margin-right: 5px;
}

.cleanText {
  margin-left: 10px;
}

.cleanWrapper {
  margin: 10px;
}

#noWalletsPresent,
#noAddressPresent {
  font-size: 1.3em;
}

div.noWalletsWrapper,
div.noAddressWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.softBottomline {
  border-bottom: 0.1px solid #253a2e !important;
}

.textAddress {
  cursor: pointer;
}

.copyClipboard {
    cursor: pointer;
}

.addressInputWrapper {
  display: flex;
}

#addressToolbar {
  display: flex;
}

#addressListFilter {
  color: #aaa;
}

.btnSendToolButton {
  width: 40px;
  padding: 0px;
  margin-left: 5px;
}

#btnAddToAddressBook {
  margin-right: 3px;
}

#btnAddToAddressBookEti {
  margin-right: 3px;
}

.infoText {
  margin: 3px;
}

#aboutInfoWallet {
  font-size: 1.5em;
  text-decoration: underline;
  margin-bottom: 10px;
}

#sendFromAddressName,
#sendToAddressName {
  font-size: 95%;
}

.etho-red {
  background-color: #399999 !important;
}

#chartMarketPrice {
  height: calc(100vh - 260px);
}

#addrQRCode {
  text-align: center;
}
