
@font-face {
    font-family: 'Marcellus';
    src: url('./fonts/Marcellus-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'Juralight';
    src: url('./fonts/Jura-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Juramedium';
    src: url('./fonts/Jura-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Juraregular';
    src: url('./fonts/Jura-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Jurasemibold';
    src: url('./fonts/Jura-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Jurabold';
    src: url('./fonts/Jura-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sairalight';
    src: url('./fonts/Saira-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sairamedium';
    src: url('./fonts/Saira-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sairaregular';
    src: url('./fonts/Saira-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sairasemibold';
    src: url('./fonts/Saira-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sairabold';
    src: url('./fonts/Saira-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'Athitilight';
    src: url('./fonts/Athiti-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Athitimedium';
    src: url('./fonts/Athiti-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Athitiregular';
    src: url('./fonts/Athiti-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Athitisemibold';
    src: url('./fonts/Athiti-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Athitibold';
    src: url('./fonts/Athiti-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }




  @font-face {
    font-family: 'Changaextralight';
    src: url('./fonts/Changa-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Changalight';
    src: url('./fonts/Changa-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Changamedium';
    src: url('./fonts/Changa-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Changaregular';
    src: url('./fonts/Changa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }



  @font-face {
    font-family: 'Cinzelmedium';
    src: url('./fonts/Cinzel-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Cinzelregular';
    src: url('./fonts/Cinzel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Cinzelsemibold';
    src: url('./fonts/Cinzel-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'Quanticoregular';
    src: url('./fonts/Quantico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Quanticoitalic';
    src: url('./fonts/Quantico-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'Quanticobold';
    src: url('./fonts/Quantico-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Quanticobolditalic';
    src: url('./fonts/Quantico-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  