<div class="walletsToolbar">

  <div class="sumBalanceHeader">
      <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: cinzelmedium;">
        <img src="assets/images/etica-logo-fond-noir-sanstitre.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
        {{sumBalance}} EGAZ
      </span>
      <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: cinzelmedium;">
        <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
        {{sumBalanceEti}} ETI
      </span>
  </div>

</div>
<div class="addressList {{#if commitData.length}}addressWrapper{{else}}noAddressWrapper{{/if}}">
  {{#if commitData.length}}
    <table class="bordered" id="addressTable">
      <thead>
        <tr>
          <th class="noSortCollumn">Proposal/Votehash</th>
          <th>Creation Date</th>
          <th>Amount</th>
          <th class="noSortCollumn" data-sort-method='none'>Revealing Deadline</th>
        </tr>
      </thead>
      <tbody>
        {{#commitData}}
          <tr class="softBottomline">
            <td>
              <div>
                <span title="Proposal title" class="textAddress">{{ proposaltitle }}</span><br>
                <span title="Proposal hash (click to copy)" class="textAddress" style="font-size:0.75em;color: #e0e0e0;">{{ proposalhash }}</span>
                <br>
                <span title="Vote hash (click to copy)" class="textAddress" style="font-size:0.75em;color: #399999;">{{ votehash }}</span>
                <br>
                <span title="Voter address (click to copy)" class="textAddress" style="font-size:0.75em;color: #e0e0e0;">vote from  {{ voter }}</span>
              </div>
            </td>
            <td>{{ timestamp }}</td>
            <td>
              <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: athitiregular;">
                <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
                {{ valueeti }} ETI
              </span>
            </td>
            <td>
            {{#if proposaldeadline}}

                {{#if created}}
                  {{#if revealopen}}
                      <button type="button" class="btn btn-etica btnRevealCommit" data-votehash="{{votehash}}" data-voter="{{voter}}">Reveal</button>
                  {{else}}
                      {{#if revealpassed}}
                      <span>missed deadline:</span><br>
                      <span>{{ proposaldeadline }}</span>
                      {{else}}
                      <span>{{ proposalend }}</span><br>
                      <span>{{ proposaldeadline }}</span>
                      {{/if}}
                  {{/if}}  
                {{/if}}
                {{#if revealed}}
                  {{#if claimopen}}
                  <button type="button" class="btn btn-etica btnClaimCommit" data-proposalhash="{{proposalhash}}" data-voter="{{voter}}">Claim</button>
                  {{else}}
                  <span>claims opening on:</span><br>
                  <span>{{ timestampclaimable }}</span>
                  {{/if}}
                {{/if}}  
                {{#if claimed}}
                   {{#if rewardamount}}
                   <span>Claimed, reward:</span><br>
                   <span>{{ rewardamount }} ETI</span>
                  
                   {{else}}
                   {{#if fee}}
                   <span>Fee:</span><br>
                   <span style="color:rgb(208, 52, 52);">
                   <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" />
                    -{{ fee }} ETI
                   </span>
                   {{/if}}
                   {{#if slashamount}}
                   <br><span>Slash:</span><br>
                   <span>
                   <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" />
                     {{ slashamount }} ETI
                   </span><br>
                   <span style="color:rgb(162, 112, 48);">
                       + {{ slashduration }}
                   </span>
                   {{/if}}

                   {{/if}}
                {{/if}}
                {{#if missed}}
                <span>Missed</span>
                {{/if}}

            {{else}}
                <button type="button" class="btn btn-etica btnAddCommitInputs" data-votehash="{{votehash}}" data-voter="{{voter}}">Add proposal</button>
            {{/if}}
            </td>
          </tr>
        {{/commitData}}
      </tbody>
    </table>
  {{else}}
    <div id="noAddressPresent">You don't have any commits yet, make a first vote</div>
  {{/if}}
</div>

<!-- The modal to add Commits Inputs -->
<div id="dlgAddCommitInputs" class="modalDialog" data-izimodal-title="Add Parameters of Commit" data-izimodal-subtitle="Enter vote parameters you used for this commit" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group">
      <label>Commit Hash:</label>
      <input id="AddCommitVoteHash" style="font-size: 1em;" disabled>
    </div>
    <div class="form-group">
      <label>Voter (Address used to make the commit):</label>
      <input id="AddCommitVoter" disabled>
    </div>
    <div class="form-group">
      <label for="usr">Enter the proposal hash:</label>
      <input type="text" class="form-control" id="AddCommitProposalHash">
    </div>
    <div class="form-group">
      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s12" id="AddCommitChoice">
          <div>
            <label class="active">Enter choice of the commit:</label> <br><br>
            <input class="approvalchoiceradio" type="radio" id="AddCommitApprovalChoice" name="addcommitchoice" value="true">
            <label class="approvalchoicelabellight" for="AddCommitApprovalChoice">Approval</label>

            <input class="approvalchoiceradio" type="radio" id="AddCommitDisapprovalChoice" name="addcommitchoice" value="false">
            <label class="approvalchoicelabellight" for="AddCommitDisapprovalChoice">Disapproval</label>
          </div>
       </div>
      </div>
    </div>
    <div class="form-group">
      <label for="usr">If there is one, Enter privacy phrase of the commit:</label>
      <input type="text" class="form-control" id="AddCommitPrivacy">
    </div>
    <button type="button" class="btn btn-etica btn-dialog-confirm" id="btnAddCommitInputsConfirm">Confirm</button>
  </div>
</div>


<!-- send details dialog -->
<div id="dlgRevealCommitWalletPassword" class="modalDialog" data-izimodal-title="Confirm Transaction" data-izimodal-subtitle="To reveal your vote on this proposal, please confirm transaction" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Commit Vote Hash:</label>
      <label class="valueFieldsConfirmTxs" id="valueOfRevealCommitHash"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-wallet"></i>
      <label class="nameFieldsConfirmTxs">From address:</label>
      <label class="valueFieldsConfirmTxs" id="fromRevealAddressInfo"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Proposal Hash:</label>
      <label class="valueFieldsConfirmTxs" id="valueOfRevealCommitProposalHash"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Vote choice:</label>
      <label class="valueFieldsConfirmTxs" id="valueOfRevealCommitChoice"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Privacy Phrase:</label>
      <label class="valueFieldsConfirmTxs" id="valueOfRevealCommitPrivacy"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Commit Amount:</label>
      <label class="valueFieldsConfirmTxs" id="valueOfRevealCommitAmount"></label>
      <label class="currencyTicker valueFieldsConfirmTxs">ETI</label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Fee to pay:</label>
      <label class="valueFieldsConfirmTxs" id="feeRevealCommitToPayInfo"></label>
      <label class="currencyTicker valueFieldsConfirmTxs">EGAZ</label>
    </div>
    <hr class="sendTXdivider">
    <div class="form-group sendTXPass">
      <label for="usr">Enter your Password:</label>
      <input type="password" class=" form-control" id="RevealCommitwalletPassword">
    </div>
    <button type="button" class="btn button3 btn-dialog-confirm" id="btnRevealCommitWalletPasswordConfirm">Confirm</button>
  </div>
</div>

<!-- send details dialog -->
<div id="dlgClaimCommitWalletPassword" class="modalDialog" data-izimodal-title="Confirm Transaction" data-izimodal-subtitle="To claim this vote and release associated locked ETI, please confirm transaction" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group sendTXInfo">
      <i class="fas fa-wallet"></i>
      <label class="nameFieldsConfirmTxs">From address:</label>
      <label class="valueFieldsConfirmTxs" id="fromClaimAddressInfo"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Proposal Hash:</label>
      <label class="valueFieldsConfirmTxs" id="valueOfClaimCommitProposalHash"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Fee to pay:</label>
      <label class="valueFieldsConfirmTxs" id="feeClaimCommitToPayInfo"></label>
      <label class="currencyTicker valueFieldsConfirmTxs">EGAZ</label>
    </div>
    <hr class="sendTXdivider">
    <div class="form-group sendTXPass">
      <label for="usr">Enter your Password:</label>
      <input type="password" class=" form-control" id="ClaimCommitwalletPassword">
    </div>
    <button type="button" class="btn button3 btn-dialog-confirm" id="btnClaimCommitWalletPasswordConfirm">Confirm</button>
  </div>
</div>