<div class="walletsToolbar">
  <button type="button" class="btn btn-etica" id="btnNewAddress2">
    <i class="fas fa-plus"></i>
  </button>

  <div class="sumBalanceHeader">
      <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
        <img src="assets/images/etica-logo-fond-noir-sanstitre.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
        {{sumBalance}} EGAZ
      </span>
      <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
        <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
        {{sumBalanceEti}} ETI
      </span>
  </div>

</div>
<div id="addressList" class="{{#if commitData.length}}addressWrapper{{else}}noAddressWrapper{{/if}}">
  {{#if commitData.length}}
    <table class="bordered" id="addressTable">
      <thead>
        <tr>
          <th class="noSortCollumn">Proposal/Votehash</th>
          <th>Creation Date</th>
          <th>Amount</th>
          <th class="noSortCollumn" data-sort-method='none'>Revealing Deadline</th>
        </tr>
      </thead>
      <tbody>
        {{#commitData}}
          <tr>
            <td>
              <div>
                <span>{{ proposaltitle }}</span><br>
                <span style="font-size:0.75em;color: #399999;">{{ votehash }}</span>
              </div>
            </td>
            <td>{{ timestamp }}</td>
            <td>
              <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
                <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
                {{ valueeti }} ETI
              </span>
            </td>
            <td>
              {{#if proposaldeadline}}
                {{#if created}}
                <span class="textAddress">{{ proposalend }}</span><br>
                <span class="textAddress">{{ proposaldeadline }}</span>
                {{/if}}
                {{#if revealed}}
                <span class="textAddress">Revealed</span><br>
                <!-- if we ahve passed claimable date show button to claim, otherwise show date of claims opening -->
                <!-- <button type="button" class="btn btn-etica btnAddCommitInputs" data-votehash="{{votehash}}" data-voter="{{voter}}">Claim</button> -->
                {{/if}}
                {{#if claimed}}
                <span class="textAddress">Claimed</span>
                {{/if}}
                {{#if missed}}
                <span class="textAddress">Missed</span>
                {{/if}}

              {{else}}
                <button type="button" class="btn btn-etica btnAddCommitInputs" data-votehash="{{votehash}}" data-voter="{{voter}}">Add proposal</button>
              {{/if}}
            </td>
          </tr>
        {{/commitData}}
      </tbody>
    </table>
  {{else}}
    <div id="noAddressPresent">You don't have any commits yet, make a first vote</div>
  {{/if}}
</div>

<div id="dlgCreateAddressAndName" class="modalDialog" data-izimodal-title="Add a new Address" data-izimodal-subtitle="Enter the name and the address" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group">
      <label for="addressName">Name:</label>
      <input type="text" class="form-control" id="addressName">
    </div>
    <div class="form-group">
      <label for="addressHash">Address:</label>
      <input type="text" class="form-control" id="addressHash">
    </div>
    <button type="button" class="btn btn-etica btn-dialog-confirm" id="btnCreateAddressConfirm">Confirm</button>
  </div>
</div>

<!-- The modal to add Commits Inputs -->
<div id="dlgAddCommitInputs" class="modalDialog" data-izimodal-title="Add Parameters of Commit" data-izimodal-subtitle="Enter vote parameters you used for this commit" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group">
      <label>Commit Hash:</label>
      <input id="CommitVoteHash" style="font-size: 1em;" disabled>
    </div>
    <div class="form-group">
      <label>Voter (Address used to make the commit):</label>
      <input id="CommitVoter" disabled>
    </div>
    <div class="form-group">
      <label for="usr">Enter the proposal hash:</label>
      <input type="text" class="form-control" id="inputProposalHash">
    </div>
    <div class="form-group">
      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s12" id="inputVoteChoice">
          <div>
            <label for="commitVoteChoice" class="active">Enter choice of the commit:</label> <br><br>
            <input class="approvalchoiceradio" type="radio" id="inputVoteApprovalChoice" name="commitchoice" value="true">
            <label class="approvalchoicelabellight" for="inputVoteApprovalChoice">Approval</label>

            <input class="approvalchoiceradio" type="radio" id="inputVoteDisapprovalChoice" name="commitchoice" value="false">
            <label class="approvalchoicelabellight" for="inputVoteDisapprovalChoice">Disapproval</label>
          </div>
       </div>
      </div>
    </div>
    <div class="form-group">
      <label for="usr">If there is one, Enter privacy phrase of the commit:</label>
      <input type="text" class="form-control" id="inputPrivacy">
    </div>
    <button type="button" class="btn btn-etica btn-dialog-confirm" id="btnAddCommitInputsConfirm">Confirm</button>
  </div>
</div>

<!-- The modal for delete confirmation -->
<div id="dlgDeleteAddressConfirm" class="modalDialog" data-izimodal-title="Delete Address" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group">
      <span>Do you really want to delete the address?</span>
    </div>
    <button type="button" class="btn btn-etica btn-dialog-cancel" id="btnDeleteAddressCancel">No</button>
    <button type="button" class="btn btn-etica btn-dialog-confirm" id="btnDeleteAddressConfirm">Yes</button>
  </div>
</div>
