<div class="walletsHeader">
  <div class="sumBalanceHeader">
    <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: juramedium;">
      <img src="assets/images/etica-logo-fond-noir-sanstitre.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
      {{sumBalance}} EGAZ
    </span>
    <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: juramedium;">
      <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
      {{sumBalanceEti}} ETI
    </span>
  </div>
</div>

<div class="sendWrapper">
  <div class="card-panel" style="padding-bottom: 0px;">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <select id="createProposalFromAddress">
            <option value="" disabled="disabled" selected="selected">Choose your address</option>
            {{#addressData}}
              <option value="{{address}}">{{name}}
                -
                {{address}}</option>
            {{/addressData}}
          </select>
          <label for="createProposalFromAddress">From address:</label>
          <small id="createProposalFromAddressName" class="form-text text-muted"></small>
        </div>
        <div class="input-field col s6" style="top:2vh;position: relative; left:3%;">
          <i id="createProposalAvailableBosoms" class="MarginRight5" style="font-family: sairaregular;">0</i><i style="font-family: juramedium;">bosoms available on this address</i>
        </div>
      </div>
      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s6">
          <input id="createProposalDiseaseHash" class="" placeholder="Enter disease hash" type="text" value="">
          <label for="createProposalDiseaseHash" class="active">Disease hash:</label>
        </div>
        <div class="input-field col s6">
          <input id="createProposalChunkId" class="" placeholder="Enter chunk id (optional)" type="text" value="">
          <label for="createProposalChunkId" class="active">Chunk ID (optional):</label>
        </div>
      </div>
      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s6">
          <input id="createProposalTitle" class="" placeholder="Enter proposal title" type="text" value="">
          <label for="createProposalTitle" class="active">Title:</label>
        </div>
      </div>
      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s12">
          <textarea id="createProposalDescription" class="materialize-textarea" placeholder="Enter proposal description" type="textarea" value="" style="height: 11vh;color:#aaa;"></textarea>
          <label for="createProposalDescription" class="active">Description:</label>
        </div>
      </div>
      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s6">
          <input id="createProposalRawReleaseHash" class="" placeholder="Enter proposal's files content IPFS hash" type="text" value="">
          <label for="createProposalRawReleaseHash" class="active">IPFS hash:</label>
        </div>
        <div class="input-field col s6">
          <input id="createProposalFreefield" class="" placeholder="Enter additional data information (optional)" type="text" value="">
          <label for="createProposalFreefield" class="active">Free field:</label>
        </div>
      </div>
      <div class="row" style="margin-top: 0;margin-bottom: 0;">
        <div class="input-field col s12">
          <button type="button" class="button4 MarginRight5" id="btnCreateProposal">Submit Proposal</button>
        </div>
        <div class="input-field col s12" style="margin-bottom: 1vh;margin-top: 0vh;">
          <i style="position: relative;bottom: 0.5vh;font-family: juramedium;"> <img src="assets/images/bosoms-tinylogo-dark.png" alt height="22" style="width: 23px;top: 0.5vh;height: 23px;position: relative;"/> <span style="font-family: sairaregular;">10 bosoms</span> (collateral cost)</i>    
        </div>
      </div>
    </form>
  </div>
  <div id="cardTransactionsForAddress" class="card-panel" style="display: none;">
    <table id="tableTransactionsForAddress" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Block</th>
          <th>Timestamp</th>
          <th>To</th>
          <th>Value</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Block</th>
          <th>Timestamp</th>
          <th>To</th>
          <th>Value</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- send details dialog -->
<div id="dlgCreateProposalWalletPassword" class="modalDialog" data-izimodal-title="Unlock your wallet" data-izimodal-subtitle="To add a proposal to Etica from this wallet, please enter the wallet password" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group sendTXInfo">
      <i class="fas fa-wallet"></i>
      <label>From address:</label>
      <label id="fromCreateProposalAddressInfo"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Disease Hash:</label>
      <label id="valueToCreateProposalDiseaseHash"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Disease Name:</label>
      <label id="valueToCreateProposalDiseaseName"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Proposal Title:</label>
      <label id="valueToCreateProposalTitle"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Proposal Description:</label>
      <label id="valueToCreateProposalDescription"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Proposal IPFS hash:</label>
      <label id="valueToCreateProposalRawReleaseHash"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Proposal Freefield:</label>
      <label id="valueToCreateProposalFreefield"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Fee to pay:</label>
      <label id="feeCreateProposalToPayInfo"></label>
      <label class="currencyTicker">ETI</label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Proposal Chunk:</label>
      <label id="valueToCreateProposalChunkId"></label>
    </div>
    <hr class="sendTXdivider">
    <div class="form-group sendTXPass">
      <label for="usr">Enter your Password:</label>
      <input type="password" class=" form-control" id="CreateProposalwalletPassword">
    </div>
    <button type="button" class="btn button3 btn-dialog-confirm" id="btnCreateProposalWalletPasswordConfirm">Confirm</button>
  </div>
</div>
