<div class="walletsHeader">
  <div class="sumBalanceHeader">
    <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: cinzelmedium;">
      <img src="assets/images/etica-logo-fond-noir-sanstitre.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
      {{sumBalance}} EGAZ
    </span>
    <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: cinzelmedium;">
      <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
      {{sumBalanceEti}} ETI
    </span>
  </div>
</div>

<div class="sendWrapper">
  <div class="card-panel" style="padding-bottom: 0px;">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <select id="createChunkFromAddress">
            <option value="" disabled="disabled" selected="selected">Choose your address</option>
            {{#addressData}}
              <option value="{{address}}">{{name}}
                -
                {{address}}</option>
            {{/addressData}}
          </select>
          <label for="createChunkFromAddress">From address:</label>
          <small id="createChunkFromAddressName" class="form-text text-muted"></small>
        </div>
        <div class="input-field col s6" style="top:2vh;position: relative; left:3%;">
          <i id="createChunkMaxAmmount" class="MarginRight5" style="font-family: sairaregular;">0</i><i style="font-family: sairalight;">ETI available on this address</i>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="createChunkDiseaseHash" class="" placeholder="Enter disease hash" type="text" value="">
          <label for="createChunkDiseaseHash" class="active">Disease hash:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="createChunkTitle" class="" placeholder="Enter chunk title" type="text" value="">
          <label for="createChunkTitle" class="active">Title:</label>
        </div>
      </div>
      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s12">
          <textarea id="createChunkDescription" class="materialize-textarea" placeholder="Enter chunk description" type="textarea" value="" style="height: 11vh;color:#aaa;"></textarea>
          <label for="createChunkDescription" class="active">Description:</label>
        </div>
      </div>
      <div class="row" style="margin-top: 0;">
        <div class="input-field col s12">
          <button type="button" class="button4 MarginRight5" id="btnCreateChunk">Create Chunk</button>
        </div>
        <div class="input-field col s12">
          <i style="font-family: cinzelmedium;">cost: <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;font-family: sairaregular;" class="MarginRight5" /> {{ creationamount }} ETI</i>    
        </div>
      </div>
    </form>
  </div>
  <div id="cardTransactionsForAddress" class="card-panel" style="display: none;">
    <table id="tableTransactionsForAddress" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Block</th>
          <th>Timestamp</th>
          <th>To</th>
          <th>Value</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Block</th>
          <th>Timestamp</th>
          <th>To</th>
          <th>Value</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- send details dialog -->
<div id="dlgCreateChunkiWalletPassword" class="modalDialog" data-izimodal-title="Confirm Transaction" data-izimodal-subtitle="To add a chunk to Etica from this wallet, please confirm transaction" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group sendTXInfo">
      <i class="fas fa-wallet"></i>
      <label class="nameFieldsConfirmTxs">From address:</label>
      <label class="valueFieldsConfirmTxs" id="valueToCreateChunkAddressInfo"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Disease Hash:</label>
      <label class="valueFieldsConfirmTxs" id="valueToCreateChunkDiseaseHash"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Chunk Title:</label>
      <label class="valueFieldsConfirmTxs" id="valueToCreateChunkTitle"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Chunk Description:</label>
      <label class="valueFieldsConfirmTxs" id="valueToCreateChunkDescription"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Fee to pay:</label>
      <label class="valueFieldsConfirmTxs" id="feeToCreateChunkPayInfo"></label>
      <label class="valueFieldsConfirmTxs" class="currencyTicker">EGAZ</label>
    </div>
    <hr class="sendTXdivider">
    <div class="form-group sendTXPass" id="CreateChunkwalletPasswordDiv">
      <label for="usr">Enter your Password:</label>
      <input type="password" class=" form-control" id="CreateChunkwalletPassword">
    </div>
    <button type="button" class="btn button3 btn-dialog-confirm" id="btnCreateChunkWalletPasswordConfirm">Confirm</button>
  </div>
</div>
