<div class="walletsToolbar">

  <div class="sumBalanceHeader">
      <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: juramedium;">
        <img src="assets/images/etica-logo-fond-noir-sanstitre.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
        {{sumBalance}} EGAZ
      </span>
      <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: juramedium;">
        <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
        {{sumBalanceEti}} ETI
      </span>
  </div>

</div>
<div class="addressList {{#if proposalData.length}}addressWrapper{{else}}noAddressWrapper{{/if}}">
  {{#if proposalData.length}}
    <table class="bordered" id="addressTable">
      <thead>
        <tr>
          <th class="noSortCollumn">Proposal/Creator</th>
          <th>Creation Date/Close Date</th>
          <th>Status</th>
          <th class="noSortCollumn" data-sort-method='none'>Claim Opening:</th>
        </tr>
      </thead>
      <tbody>
        {{#proposalData}}
          <tr class="softBottomline">
            <td>
              <div>
                <span title="Proposal title" class="textAddress">{{ title }}</span><br>
                <span title="Proposal hash (click to copy)" class="textAddress" style="font-size:0.75em;color: #e0e0e0;">{{ proposalhash }}</span>
                <br>
                <span style="font-size:0.75em;">by</span> <span title="Proposer Address (click to copy)" class="textAddress" style="font-size:0.75em;color: #399999;">{{ proposer }}</span>
              </div>
            </td>
            <td>
              <span>{{ timestamp }}</span><br>
              <span>{{ proposaldeadline }}</span>
            </td>
            <td>
              {{#if pending}}
              <span style="color:rgb(255, 255, 255);display: inline-block;">
                Pending
              </span>
              {{/if}}
              {{#if rejected}}
              <span style="color:rgb(255, 255, 255);display: inline-block;">
                Rejected
              </span>
              {{/if}}
              {{#if approved}}
              <span style="color:rgb(255, 255, 255);display: inline-block;">
                Approved
              </span>
              {{/if}}
            </td>
            <td>
              {{#if claimed}}
                  {{#if rewardamount}}
                   <span>Reward claimed:</span><br>
                   <span>
                    <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" />
                    {{ rewardamount }} ETI
                    </span>
                  {{else}}
                      {{#if fee}}
                      <span>Fee:</span><br>
                      <span style="color:rgb(208, 52, 52);">
                      <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" />
                       -{{ fee }} ETI
                      </span>
                      {{/if}}
                      {{#if slashamount}}
                      <span>Slash:</span><br>
                      <span>
                      <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" />
                        {{ slashamount }} ETI
                      </span>
                      <span style="color:orange;">
                          {{ slashdurattion }}
                      </span>
                      {{/if}}

                  {{/if}}
                
              {{else}}
                 {{#if claimopen}}
                 <button type="button" class="btn btn-etica btnClaimProposal" data-proposalhash="{{proposalhash}}" data-proposer="{{proposer}}">Claim</button>
                 {{else}}
                 <span>claims opening on:</span><br>
                 <span>{{ timestampclaimable }}</span>
              {{/if}}

              {{/if}}      
            </td>
          </tr>
        {{/proposalData}}
      </tbody>
    </table>
  {{else}}
    <div id="noAddressPresent">You don't have any proposals yet, make a first proposal</div>
  {{/if}}
</div>

<!-- send details dialog -->
<div id="dlgClaimProposalWalletPassword" class="modalDialog" data-izimodal-title="Unlock your wallet" data-izimodal-subtitle="To claim this vote and release associated locked ETI, please enter the wallet password" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group sendTXInfo">
      <i class="fas fa-wallet"></i>
      <label>From address:</label>
      <label id="fromClaimProposalAddressInfo"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Proposal Hash:</label>
      <label id="valueOfClaimProposalProposalHash"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Fee to pay:</label>
      <label id="feeClaimProposalToPayInfo"></label>
      <label class="currencyTicker">EGAZ</label>
    </div>
    <hr class="sendTXdivider">
    <div class="form-group sendTXPass">
      <label for="usr">Enter your Password:</label>
      <input type="password" class=" form-control" id="ClaimProposalwalletPassword">
    </div>
    <button type="button" class="btn button3 btn-dialog-confirm" id="btnClaimProposalWalletPasswordConfirm">Confirm</button>
  </div>
</div>