<div class="walletsHeader">
  <div class="sumBalanceHeader">
    <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
      <img src="assets/images/etica-logo-fond-noir-sanstitre.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
      {{sumBalance}} EGAZ
    </span>
    <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
      <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
      {{sumBalanceEti}} ETI
    </span>
  </div>
</div>


<div style="overflow-y: auto;height: calc(100vh - 10vh);">

<div class="sendWrapper" style="padding-bottom:1vh;">
  <div class="card-panel" style="padding-bottom: 0px;">
    <form class="col s12">
      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s6">
          <input id="inputSearchEtica" class="" placeholder="Enter either Proposal Hash, Disease hash (or name), Chunk Id:" type="text">
          <label for="inputSearchEtica" class="active">Search Etica:</label>
        </div>
        <div class="input-field col s6" style="top:2vh;position: relative; left:3%;">
          <button type="button" class="button4 MarginRight5" id="btnSearchEtica">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

{{#if DiseaseFound}}
<div class="sendWrapper" style="padding-top:0;padding-bottom: 0;">
  <div class="card-panel" style="padding-top: 0px;padding-bottom: 0px;">
      <div class="row">
        <div class="input-field col s12" style="display: inline;">
          <span style="color:#9e9e9e; font-size:1rem;">Type:</span> &nbsp;<span>{{ BlockchainResp.type }}</span>
        </div>
        <div class="input-field col s12 searchresults">
          <label>Name:</label><br>
          <p>{{ BlockchainResp.disease.name }}</p>
        </div>
        <div class="input-field col s12 searchresults">
          <label>Hash:</label><br>
          <p class="copyClipboard">{{ BlockchainResp.disease.disease_hash }}</p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 searchresults">
        <label>Proposals:</label><br>
        <p>{{BlockchainResp.diseasenbproposals}}</p>
        </div>
        <div class="input-field col s6 searchresults">
          <label>Chunks:</label><br>
          <p>{{BlockchainResp.diseasenbchunks}}</p>
        </div>
      </div>
    
  </div>
</div>
<h6 style="margin-left: 3%;">Latest 20 Proposals:</h6>
{{#BlockchainResp.proposals}}
<div class="sendWrapper" style="padding-top:0;">
  <div class="card-panel" style="padding-top: 0px;padding-bottom: 0px;background-color:#0c1315;">
      <div class="row">
        <div class="input-field col s8" style="display: inline;">
          <span style="color:#9e9e9e; font-size:1rem;">Title:</span> &nbsp;<span>{{ title }}</span>
        </div>
        <div class="input-field col s4" style="display: inline;">
          <span style="color:#9e9e9e; font-size:1rem;" class="copyClipboard">Chunk Id:</span> &nbsp;
          {{#if pending}}
          <span>{{ chunk_id }} | Status: Pending</span>
          {{/if}}
          {{#if approved}}
          <span>{{ chunk_id }} | Status: Approved</span>
          {{/if}}
          {{#if rejected}}
          <span>{{ chunk_id }} | Status: Rejected</span>
          {{/if}}
        </div>
        <div class="input-field col s12 searchresults">
          <label style="font-size:1rem;">Proposal Hash (ID):</label><br>
          <p class="copyClipboard">{{proposed_release_hash}}</p>
        </div>
        <div class="input-field col s12 searchresults">
          <label style="font-size:1rem;">IPFS content:</label><br>
          <p class="copyClipboard">{{raw_release_hash}}</p>
        </div>

        <div class="input-field col s4 searchresults">
          <label>Created:</label><br>
          <p>{{ proposalstart }}</p>
          </div>
          <div class="input-field col s4 searchresults">
            <label>Votes close:</label><br>
            <p>{{ proposalend }}</p>
          </div>
          <div class="input-field col s4 searchresults">
            <label>Claims open on:</label><br>
            <p>{{ timestampclaimable }}</p>
          </div>

          <div class="input-field col s3 searchresults">
            <label>Threshold:</label><br>
            <p>{{ approvalthreshold }}%</p>
          </div>

          {{#if revealpassed}}
          <div class="input-field col s3 searchresults">
            <label>Result ratio:</label><br>
            <p>{{ votesratio }}</p>
          </div>
          {{else}}
          <div class="input-field col s3 searchresults">
            <label>Current ratio:</label><br>
            <p>{{ votesratio }}</p>
          </div>
          {{/if}}


          <div class="input-field col s3 searchresults">
            <label>Approval Votes:</label><br>
            <p>
              <span style="display: inline-block;">
              <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
              {{ forvotes }} ETI
              </span>
            </p>
          </div>
          <div class="input-field col s3 searchresults">
            <label>Disaproval votes:</label><br>
            <p>
              <span style="display: inline-block;">
              <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
              {{ againstvotes }} ETI
              </span>
            </p>
          </div>
      </div>
  </div>
</div>
{{/BlockchainResp.proposals}}

{{/if}}

<!--
<div class="sendWrapper" style="padding-top:0;">
  <div class="card-panel" style="padding-top: 0px;padding-bottom: 0px;">
      <div class="row">
        <div class="input-field col s6" style="display: inline;">
          <span style="color:#9e9e9e; font-size:1rem;">Type:</span> &nbsp;<span>Chunk</span>
        </div>
        <div class="input-field col s6" style="display: inline;">
          <span style="color:#9e9e9e; font-size:1rem;">Belongs to disease:</span> &nbsp;<span>Malaria</span>
        </div>
        <div class="input-field col s6">
          <label>Name:</label><br>
          <p>Diabetes Type 2</p>
        </div>
        <div class="input-field col s6">
          <label>Index:</label><br>
          <p>88</p>
        </div>
        <div class="input-field col s12">
          <label>Description:</label><br>
          <p>Disease Riuh yuguyg uyg uy guy guy ggy uuygf yyhioijoi o jiojio/p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
        <label>Proposals:</label><br>
        <p>16</p>
        </div>
      </div>
    
  </div>
</div>  -->

{{#if BlockchainResp}}
<p>Case 1</p>
{{/if}}

{{#BlockchainResp}}
<p>Case 2</p>
{{/BlockchainResp}}






{{#if ProposalFound}}
<div class="sendWrapper" style="padding-top:0;">
  <div class="card-panel" style="padding-top: 0px;padding-bottom: 0px;">
      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s6" style="display: inline;margin-top: 1.5vh;">
          <span style="color:#9e9e9e; font-size:1rem;">Type:</span> &nbsp;<span>{{ BlockchainResp.type}}</span>
        </div>
        <div class="input-field col s6" style="margin-top: 1.5vh;">
          <span style="color:#9e9e9e; font-size:1rem;">Status:</span> &nbsp;<span>Pending</span>
        </div>
        <div class="input-field col s6 searchresults">
          <label>Title:</label><br>
          <p>{{ BlockchainResp.proposal.title}}</p>
        </div>
        <div class="input-field col s6 searchresults">
          <label>Belongs to Period:</label><br>
          <p>{{ BlockchainResp.period.id}}</p>
        </div>
        <div class="input-field col s6 searchresults">
          <label>Belongs to disease:</label><br>
          <p style="margin-bottom: 0;">{{ BlockchainResp.disease.name}}</p>
          <span style="font-size: 0.75em;" class="copyClipboard">{{ BlockchainResp.disease.disease_hash}}</span>
        </div>
        <div class="input-field col s6 searchresults">
          <label>Belongs to chunk:</label><br>
          <p>No chunk </p>
        </div>
        <div class="input-field col s6 searchresults">
          <label>Hash:</label><br>
          <p style="font-size: 0.75em;" class="copyClipboard">{{BlockchainResp.proposal.proposed_release_hash}}</p>
        </div>
        <div class="input-field col s6 searchresults">
          <label>IPFS content:</label><br>
          <p style="font-size: 0.8em;" class="copyClipboard">{{BlockchainResp.proposal.raw_release_hash}}</p>
        </div>
        <div class="input-field col s6 searchresults">
          <label>Description:</label><br>
          <p>{{BlockchainResp.proposal.description}}</p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 searchresults">
        <label>Created:</label><br>
        <p>2022/12/04 16:00</p>
        </div>
        <div class="input-field col s4 searchresults">
          <label>Votes close:</label><br>
          <p>2022/12/04 16:00</p>
        </div>
        <div class="input-field col s4 searchresults">
          <label>Claims open on:</label><br>
          <p>2023/01/07 16:00</p>
        </div>
        <div class="input-field col s3 searchresults">
          <label>Threshold:</label><br>
          <p>80.21%</p>
        </div>
        <div class="input-field col s3 searchresults">
          <label>Votes ratio:</label><br>
          <p>84.4%</p>
        </div>
        <div class="input-field col s3 searchresults">
          <label>Approval Votes:</label><br>
          <p>
            <span style="display: inline-block;">
            <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
            1500.321 ETI
            </span>
          </p>
        </div>
        <div class="input-field col s3 searchresults">
          <label>Disaproval votes:</label><br>
          <p>
            <span style="display: inline-block;">
            <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
            150.321 ETI
            </span>
          </p>
        </div>

      </div>
    
  </div>
</div>
{{/if}}


</div>