<div class="settingsWrapper">
    <div class="card-panel">
        <div class="cleanWrapper">
            <button type="button" class="btn btn-etica btnSettingsClean" id="btnSettingsCleanTransactions"><i class="far fa-trash-alt"></i></button>
            <span class="cleanText">Clean transactions data</span>
        </div>
        <div class="cleanWrapper">
            <button type="button" class="btn btn-etica btnSettingsClean" id="btnSettingsCleanWallets"><i class="far fa-trash-alt"></i></button>
            <span class="cleanText">Reset wallet names</span>
        </div>
        <div class="cleanWrapper">
           <button type="button" class="btn btn-etica btnSettingsClean" id="btnSettingsCleanBlockchain"><i class="far fa-trash-alt"></i></button>
           <span class="cleanText">Clean blockchain data</span>
        </div>
    </div>
</div>
