<div class="walletsHeader">
    <div class="sumBalanceHeader">
      <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
        <img src="assets/images/etica-logo-fond-noir-sanstitre.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
        {{sumBalance}} EGAZ
      </span>
      <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
        <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
        {{sumBalanceEti}} ETI
      </span>
    </div>
  </div>

<div class="settingsWrapper">
    <div class="card-panel">
        <div class="cleanWrapper">
            <button type="button" class="btn btn-etica btnSettingsClean" id="btnSettingsCleanTransactions"><i class="far fa-trash-alt"></i></button>
            <span class="cleanText">Clean transactions data</span>
        </div>
        <div class="cleanWrapper">
            <button type="button" class="btn btn-etica btnSettingsClean" id="btnSettingsCleanWallets"><i class="far fa-trash-alt"></i></button>
            <span class="cleanText">Reset wallet names</span>
        </div>
        <div class="cleanWrapper">
           <button type="button" class="btn btn-etica btnSettingsClean" id="btnSettingsCleanBlockchain"><i class="far fa-trash-alt"></i></button>
           <span class="cleanText">Clean blockchain data</span>
        </div>
    </div>
</div>
