<div class="walletsHeader">
    <div class="sumBalanceHeader">
      <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: cinzelmedium;">
        <img src="assets/images/etica-logo-fond-noir-sanstitre.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
        {{sumBalance}} EGAZ
      </span>
      <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: cinzelmedium;">
        <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
        {{sumBalanceEti}} ETI
      </span>
    </div>
  </div>

  <div class="settingsWrapper">

   <div style="text-align: center;">
    <div class="card-panel" style="display:inline-flex;background-color: #060708;">
        <div id="gosettingsmain" class="cleanWrapper">         
            <span class="cleanText" style="cursor: pointer;">Main Settings</span>
        </div>
        <div id="gosettingsdirectories" class="cleanWrapper">   
          <span class="cleanText" style="cursor: pointer;">Directories</span>
       </div>
        <div id="gosettingsadvanced" class="cleanWrapper">    
           <span class="cleanText" style="cursor: pointer;">Advanced</span>
        </div>
        <div id="gosettingsactions" class="cleanWrapper">
          <span class="cleanText" style="cursor: pointer;">Actions</span>
      </div>
    </div>
   </div> 

  </div>  


  <div class="settingsWrapper">
    
    <div id="settingsactions">
      <h6>Actions</h6>
    <div class="card-panel">
        <div class="cleanWrapper">
            <button type="button" class="btn btn-etica btnSettingsClean" id="btnSettingsCleanTransactions"><i class="far fa-trash-alt"></i></button>
            <span class="cleanText">Clean transactions data (not available yet)</span>
        </div>
        <div class="cleanWrapper">
            <button type="button" class="btn btn-etica btnSettingsClean" id="btnSettingsCleanWallets"><i class="far fa-trash-alt"></i></button>
            <span class="cleanText">Reset wallet names (not available yet)</span>
        </div>
        <div class="cleanWrapper">
           <button type="button" class="btn btn-etica btnSettingsClean" id="btnSettingsCleanBlockchain"><i class="far fa-trash-alt"></i></button>
           <span class="cleanText">Clean blockchain data (not available yet)</span>
        </div>
        <div class="cleanWrapper">
          <button type="button" class="btn btn-etica btnSettingsClean" id="btnCloseWallet"><i class="far fa-lock"></i></button>
          <span class="cleanText">Close Wallet</span>
      </div>
    </div>
  </div>
  
  
  <div id="settingsmain">
    <h6>Main Settings</h6>  
  <div class="card-panel" style="padding-bottom: 0px;background-color:#030404;">
      <form class="col s12">
        {{#if wallet.ismainnet}}
        <span style="color:#55a362;">Wallet Type: {{ wallet.type }}</span>
        {{/if}}
        {{#if wallet.istestnet}}
        <span style="color:#8476ffe3;">Wallet Type: {{ wallet.type }}</span>
        {{/if}}

        <span style="color: #856c53;position:absolute;right:5%;">Master address: {{ wallet.masteraddress }}</span>
        <div class="row" style="margin-bottom: 0;margin-top: 2vh;">
          <div class="input-field col s7">
            <input id="settingsWalletName" class="" placeholder="Enter wallet name" type="text" value="{{ wallet.name }}" style="color: #ffffff;">
            <label for="settingsWalletName" class="active">Wallet Name:</label>
          </div>
          <div class="input-field col s6">
            <input class="" placeholder="Enter network ID" type="text" value="{{ wallet.networkid }}" style="color: #ffffff;" disabled>
            <label class="active" style="color:#9e9e9e;">Network ID:</label>
          </div>
        </div>
        <div class="row" style="margin-bottom: 0;">
          <div class="input-field col s7">
            <input class="" placeholder="Enter Etica Smart contract address" type="text" value="{{ wallet.contractaddress }}" style="color: #ffffff;" disabled>
            <label class="active" style="color:#9e9e9e;">Etica Smart Contract:</label>
          </div>

          <div class="input-field col s6" id="commitVoteChoice">
            <div>
              <label for="commitVoteChoice" class="active">Allow unlock wallet:</label> <br><br>
              {{#if wallet.autounlock}}
              <input class="approvalchoiceradio" type="radio" id="unlockChoiceYes" name="unlockchoice" value="true" checked>
              <label class="approvalchoicelabel" for="unlockChoiceYes">Yes</label>
              <input class="approvalchoiceradio" type="radio" id="unlockChoiceNo" name="unlockchoice" value="false">
              <label class="approvalchoicelabel" for="unlockChoiceNo">No</label>
              {{else}}
              <input class="approvalchoiceradio" type="radio" id="unlockChoiceYes" name="unlockchoice" value="true">
              <label class="approvalchoicelabel" for="unlockChoiceYes">Yes</label>
              <input class="approvalchoiceradio" type="radio" id="unlockChoiceNo" name="unlockchoice" value="false" checked>
              <label class="approvalchoicelabel" for="unlockChoiceNo">No</label>
              {{/if}}
            </div>
         </div>
  
         <div class="input-field col s6">
          <input id="unlockTime" class="" placeholder="Enter time the wallet remains unlocked (mins)" type="text" value="{{ wallet.unlocktime }}" style="color: #ffffff;">
          <i>Example: 600 secs will unlock wallet for 10 minutes.</i>
          <label for="unlockTime" class="active">Unlock duration (secs):</label>
        </div>

        </div>
        <div class="row" style="margin-top: 0;margin-bottom: 0;">
          <div class="input-field col s12">
            <button type="button" class="button4 MarginRight5" id="btnUpdateMainSettings">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  

  <div id="settingsdirectories">
    <h6>Directories Settings</h6>
    <p style="color:#585858;">Warning, changes to the location of one of these folders would corrupt this wallet. <br> If you need to change one of these folder paths, import your seed into a new wallet and provid a new folder path at wallet creation</p>
    <div class="card-panel" style="padding-bottom: 0px;background-color:#030404;">
    <form class="col s12">
      <div class="row" style="margin-bottom: 0;margin-top: 2vh;">
        <div class="input-field col s12">
          <input id="" class="" placeholder="Enter disease hash" type="text" value="{{ wallet.blockchaindirectory }}" style="color: #ffffff;" disabled>
          <label for="" class="active" style="color:#9e9e9e;">Blockchain directory:</label>
        </div>
        <div class="input-field col s12">
          <input id="" class="" placeholder="Enter chunk id (optional)" type="text" value="{{ wallet.datadirectory }}" style="color: #ffffff;" disabled>
          <label for="" class="active" style="color:#9e9e9e;">Wallet directory:</label>
        </div>
      </div>
      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s12">
          <input id="" class="" placeholder="Enter proposal title" type="text" value="{{ wallet.keystoredirectory }}" style="color: #ffffff;" disabled>
          <label for="" class="active" style="color:#9e9e9e;">Keystore directory:</label>
        </div>
      </div>
    </form>
  </div>
  </div>

  
  <div id="settingsadvanced">
    <h6>Advanced Settings</h6>
  <div class="card-panel" style="padding-bottom: 0px;background-color:#030404;">
    <form class="col s12">
      <div class="row" style="margin-bottom: 0;margin-top: 2vh;">
        <div class="input-field col s7">
          <input class="" placeholder="ws address (node websocket address)" type="text" value="{{ wallet.wsaddress }}" style="color: #ffffff;" disabled>
          <label class="active" style="color:#9e9e9e;">--ws.addr:</label>
        </div>
          <div class="input-field col s7">
            <input id="settingsWalletPort" class="" placeholder="port (node port)" type="text" value="{{ wallet.port }}" style="color: #ffffff;">
            <label for="settingsWalletPort" class="active">--port:</label>
          </div>
        <div class="input-field col s7">
          <input id="settingsWalletWsPort" class="" placeholder="ws port (node websocket port)" type="text" value="{{ wallet.wsport }}" style="color: #ffffff;">
          <label for="settingsWalletWsPort" class="active">--ws.port:</label>
        </div>
        <div class="input-field col s12">
          <input id="settingsWalletEnode" class="" placeholder="Enter the enode to connect to when wallet node starts" type="text" value="{{ wallet.enode }}" style="color: #ffffff;">
          <label for="settingsWalletEnode" class="active">Enode (the initial peer the wallet should connect to):</label>
        </div>
      </div>
      <div class="row" style="margin-top: 0;margin-bottom: 0;">
        <div class="input-field col s12">
          <button type="button" class="button4 MarginRight5" id="btnUpdateAdvancedSettings">Update</button>
        </div>
      </div>
    </form>
  </div>
  </div>

</div>
