<div class="walletsHeader">
  <div class="sumBalanceHeader">
    <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: cinzelmedium;">
      <img src="assets/images/etica-logo-fond-noir-sanstitre.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
      {{sumBalance}} EGAZ
    </span>
    <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: cinzelmedium;">
      <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
      {{sumBalanceEti}} ETI
    </span>
  </div>
</div>


<div style="overflow-y: auto;height: calc(100vh - 10vh);">

<div class="sendWrapper" style="padding-bottom:1vh;">
  <div class="card-panel" style="padding-bottom: 0px;">
    <form class="col s12">
      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s6">
          <input id="inputStakesBoard" disabled class="" style="color:rgb(209, 209, 209);border-bottom: solid 0.5px rgb(209, 209, 209);;" placeholder="Enter either Proposal Hash, Disease hash (or name), Chunk Id:" type="text">
          <label for="inputStakesBoard" class="active" style="color:white;">Etica address:</label>
          <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: athitimedium;">
           none staked ETI: {{addressbalance_eti}} <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" />
          </span>
          <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: athitimedium;">
            | EGAZ: {{addressbalance}} <img src="assets/images/etica-logo-fond-noir-sanstitre.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" />
          </span>
        </div>
        <div class="input-field col s6" style="top:2vh;position: relative; left:3%;font-family: athitimedium;">
          &nbsp {{ stakescounter }} stakes
          <button type="button" class="btn btn-etica btnConsolidateStakes MarginRight5" data-stakeaddress="{{address}}">Consolidate</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="sendWrapper" style="height: 5vh;">
  <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: cinzelmedium;">
    &nbsp Staked ETI: {{addressstakesamount}} <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" />
  </span>
  <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: cinzelmedium;">
    &nbsp&nbsp | &nbsp Bosoms: {{addressbosoms}} <img src="assets/images/bosoms-tinylogo-dark.png" alt height="22" style="width: 23px;top: 0.5vh;height: 23px;position: relative;" />
  </span>
  <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;font-family: cinzelmedium;">
   &nbsp&nbsp | &nbsp Locked ETI: {{addressblockedeticas}} <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" />
  </span>

  {{#if stakes.length}}

<div class="row">

  {{#stakes}}

      <div class="input-field col s5 stakesbox">
        <div style="display:inline;position:relative;left:4%;"><label class="MarginRight5" style="color:#868686;font-family: athitimedium;">Amount:</label><span>{{amount}} <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /></span></div>
        <br><div style="display:inline;position:relative;left:4%;"><label class="MarginRight5" style="color:#868686;">End:</label><span>{{endTime}}</span></div>
        <div class="input-field col s12">
          <button type="button" class="btn btn-etica btnSnapStake" style="width: 100px;margin-right: 5%;" data-stakeindex="{{stakeindex}}" data-stakeaddress="{{stakeaddress}}" data-stakeamount="{{amount}}">Snap</button>
          {{#if available}}
          <button type="button" class="btn btn-etica btnClaimStake" style="width: 100px;" data-stakeindex="{{stakeindex}}" data-stakeaddress="{{stakeaddress}}" data-stakeamount="{{amount}}">Claim</button>
          {{else}}
          <i>not available for claim yet</i>
          {{/if}}
        </div>
      </div>

  {{/stakes}}

</div>

  {{/if}}

</div>
</div>

<div id="dlgClaimStakeWalletPassword" class="modalDialog" data-izimodal-title="Confirm Transaction" data-izimodal-subtitle="To claim this stake and release associated locked ETI, please confirm transaction" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group sendTXInfo">
      <i class="fas fa-wallet"></i>
      <label class="nameFieldsConfirmTxs">From address:</label>
      <label class="valueFieldsConfirmTxs" id="fromClaimStakeAddressInfo"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Stake Index:</label>
      <label class="valueFieldsConfirmTxs" id="valueOfClaimStakeIndex"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Stake Amount:</label>
      <label class="valueFieldsConfirmTxs" id="valueOfClaimStakeAmount"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Fee to pay:</label>
      <label class="valueFieldsConfirmTxs" id="feeClaimStakeToPayInfo"></label>
      <label class="currencyTicker">EGAZ</label>
    </div>
    <hr class="sendTXdivider">
    <div class="form-group sendTXPass">
      <label for="usr">Enter your Password:</label>
      <input type="password" class=" form-control" id="ClaimStakewalletPassword">
    </div>
    <button type="button" class="btn button3 btn-dialog-confirm" id="btnClaimStakeWalletPasswordConfirm">Confirm</button>
  </div>
</div>


<div id="dlgSnapStakeWalletPassword" class="modalDialog" data-izimodal-title="Confirm Transaction" data-izimodal-subtitle="To snap this stake, please confirm transaction" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group sendTXInfo">
      <i class="fas fa-wallet"></i>
      <label class="nameFieldsConfirmTxs">From address:</label>
      <label class="valueFieldsConfirmTxs" id="fromClaimAddressInfo"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Stake Index:</label>
      <label class="valueFieldsConfirmTxs" id="valueOfSnapStakeIndex"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Stake Amount:</label>
      <label class="valueFieldsConfirmTxs" id="valueOfSnapStakeAmount"></label>
      <label class="currencyTicker valueFieldsConfirmTxs">ETI</label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Fee to pay:</label>
      <label class="valueFieldsConfirmTxs" id="feeSnapStakeToPayInfo"></label>
      <label class="currencyTicker valueFieldsConfirmTxs">EGAZ</label>
    </div>
    <hr class="sendTXdivider">
    <div class="form-group sendTXPass">
      <label for="usr">Enter your Password:</label>
      <input type="password" class=" form-control" id="SnapStakewalletPassword">
    </div>
    <button type="button" class="btn button3 btn-dialog-confirm" id="btnSnapStakeWalletPasswordConfirm">Confirm</button>
  </div>
</div>

<!-- The modal to set amount of snap -->
<div id="dlgAddSnapAmount" class="modalDialog" data-izimodal-title="Snap Stake" data-izimodal-subtitle="Enter an amount to snap this stake" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group">
      <label>Maximum snap amount:</label>
      <input id="MaxSnapAmount" disabled>
    </div>
    <div class="form-group">
      <label for="usr">Enter a snap amount:</label>
      <input type="text" class="form-control" id="inputSnapAmount">
    </div>
    <button type="button" class="btn btn-etica btn-dialog-confirm" id="btnAddSnapAmountConfirm">Confirm</button>
  </div>
</div>

<div id="dlgConsolidateStakesWalletPassword" class="modalDialog" data-izimodal-title="Confirm Transaction" data-izimodal-subtitle="To consolidate this stake, please confirm transaction" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group sendTXInfo">
      <i class="fas fa-wallet"></i>
      <label class="nameFieldsConfirmTxs">From address:</label>
      <label class="valueFieldsConfirmTxs" id="fromClaimAddressInfo"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Proposal Hash:</label>
      <label class="valueFieldsConfirmTxs" id="valueOfConsolidateStakesProposalHash"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label class="nameFieldsConfirmTxs">Fee to pay:</label>
      <label class="valueFieldsConfirmTxs" id="feeConsolidateStakesToPayInfo"></label>
      <label class="currencyTicker valueFieldsConfirmTxs">EGAZ</label>
    </div>
    <hr class="sendTXdivider">
    <div class="form-group sendTXPass">
      <label for="usr">Enter your Password:</label>
      <input type="password" class=" form-control" id="ConsolidateStakeswalletPassword">
    </div>
    <button type="button" class="btn button3 btn-dialog-confirm" id="btnConsolidateStakesWalletPasswordConfirm">Confirm</button>
  </div>
</div>


<!-- The modal to set parameters of consolidation -->
<div id="dlgAddConsolidateParameters" class="modalDialog" data-izimodal-title="Stakes Consolidation" data-izimodal-subtitle="Enter consolidation parameters" data-izimodal-icon="icon-home">
  <div class="modalBody">
   <div class="row" style="margin-bottom: 0;">
    <h6 style="margin-bottom: 0;">Enter New End date of consolidated stakes:</h6>
    <p style="margin-top:0;margin-bottom:0;font-size: 0.75em;">(Can't be more than 2 years from now)</p>
    <div class="input-field col s3">
     <!-- <label for="inputNewEndTimeDay">Enter day:</label> -->
      <select id="inputNewEndTimeDay" class="browser-default" style="display:block;"> <!-- Add Class class="browser-default" to avoid issue of materialize.js adding other select elements -->
        <option value="" selected="selected">Day</option>
          <option value="1">1
            -
            1st
          </option>
          <option value="2">2
            -
            2nd
          </option>
          <option value="3">3
            -
            3rd
          </option>
          <option value="4">4
            -
            4th
          </option>
          <option value="5">5
            -
            5th
          </option>
          <option value="6">6
            -
            6th
          </option>
          <option value="7">7
            -
            7th
          </option>
          <option value="8">8
            -
            8th
          </option>
          <option value="9">9
            -
            9th
          </option>
          <option value="10">10
            -
            10th
          </option>

          <option value="11">11
            -
            11th
          </option>
          <option value="12">12
            -
            12th
          </option>
          <option value="13">13
            -
            13th
          </option>
          <option value="14">14
            -
            14th
          </option>
          <option value="15">15
            -
            15th
          </option>
          <option value="16">16
            -
            16th
          </option>
          <option value="17">17
            -
            17th
          </option>
          <option value="18">18
            -
            18th
          </option>

          <option value="19">19
            -
            19th
          </option>
          <option value="20">20
            -
            20th
          </option>
          <option value="21">21
            -
            21th
          </option>
          <option value="22">22
            -
            22th
          </option>
          <option value="23">23
            -
            23th
          </option>
          <option value="24">24
            -
            24th
          </option>
          <option value="25">25
            -
            25th
          </option>
          <option value="26">26
            -
            26th
          </option>

          <option value="27">27
            -
            27th
          </option>
          <option value="28">28
            -
            28th
          </option>
          <option value="29">29
            -
            29th
          </option>
          <option value="30">30
            -
            30th
          </option>

          <option value="31">31
            -
            31th
          </option>
      </select>
    </div>
    <div class="input-field col s3">
     <!-- <label for="inputNewEndTimeMonth">Enter month:</label> -->
      <select id="inputNewEndTimeMonth" class="browser-default" style="display:block;">
        <option value="" selected="selected">Month</option>
          <option value="1">1
            -
            January
          </option>
          <option value="2">2
            -
            February
          </option>
          <option value="3">3
            -
            March
          </option>
          <option value="4">4
            -
            April
          </option>
          <option value="5">5
            -
            May
          </option>
          <option value="6">6
            -
            June
          </option>
          <option value="7">7
            -
            July
          </option>
          <option value="8">8
            -
            August
          </option>
          <option value="9">9
            -
            September
          </option>
          <option value="10">10
            -
            October
          </option>
          <option value="11">11
            -
            November
          </option>
          <option value="12">12
            -
            December
          </option>
      </select>
    </div>
    <div class="input-field col s3">
     <!-- <label for="inputNewEndTimeYear">Enter year:</label> -->
      <select id="inputNewEndTimeYear" class="browser-default" style="display:block;">
        <option value="" selected="selected">Year</option>
          <option value="2023">2023
          </option>
          <option value="2024">2024
          </option>
          <option value="2025">2025
          </option>
          <option value="2026">2026
          </option>
          <option value="2027">2027
          </option>
          <option value="2028">2028
          </option>
          <option value="2029">2029
          </option>
          <option value="2030">2030
          </option>
      </select>
    </div>
  </div>

  <div class="row" style="margin-bottom: 0;">
    <h6 style="margin-bottom: 0;">Enter Minimum date for a stake to be consolidated:</h6>
    <p style="margin-top:0;margin-bottom:0;font-size: 0.75em;">(stakes whose end time are less than this date won't be impacted by changes)</p>
    <p style="margin-top:0;margin-bottom:0;font-size: 0.75em;">(By default you can set the date of today)</p>
    <div class="input-field col s3">
      <select id="inputMinLimitDay" class="browser-default" style="display:block;">
        <option value="" selected="selected">Day</option>
        <option value="1">1
          -
          1st
        </option>
        <option value="2">2
          -
          2nd
        </option>
        <option value="3">3
          -
          3rd
        </option>
        <option value="4">4
          -
          4th
        </option>
        <option value="5">5
          -
          5th
        </option>
        <option value="6">6
          -
          6th
        </option>
        <option value="7">7
          -
          7th
        </option>
        <option value="8">8
          -
          8th
        </option>
        <option value="9">9
          -
          9th
        </option>
        <option value="10">10
          -
          10th
        </option>

        <option value="11">11
          -
          11th
        </option>
        <option value="12">12
          -
          12th
        </option>
        <option value="13">13
          -
          13th
        </option>
        <option value="14">14
          -
          14th
        </option>
        <option value="15">15
          -
          15th
        </option>
        <option value="16">16
          -
          16th
        </option>
        <option value="17">17
          -
          17th
        </option>
        <option value="18">18
          -
          18th
        </option>

        <option value="19">19
          -
          19th
        </option>
        <option value="20">20
          -
          20th
        </option>
        <option value="21">21
          -
          21th
        </option>
        <option value="22">22
          -
          22th
        </option>
        <option value="23">23
          -
          23th
        </option>
        <option value="24">24
          -
          24th
        </option>
        <option value="25">25
          -
          25th
        </option>
        <option value="26">26
          -
          26th
        </option>

        <option value="27">27
          -
          27th
        </option>
        <option value="28">28
          -
          28th
        </option>
        <option value="29">29
          -
          29th
        </option>
        <option value="30">30
          -
          30th
        </option>

        <option value="31">31
          -
          31th
        </option>
      </select>
    <!--  <label for="inputMinLimitDay">Enter day:</label> -->
    </div>
    <div class="input-field col s3">
     <!-- <label for="inputMinLimitMonth">Enter month:</label> -->
      <select id="inputMinLimitMonth" class="browser-default" style="display:block;">
        <option value="" selected="selected">Month</option>
          <option value="1">1
            -
            January
          </option>
          <option value="2">2
            -
            February
          </option>
          <option value="3">3
            -
            March
          </option>
          <option value="4">4
            -
            April
          </option>
          <option value="5">5
            -
            May
          </option>
          <option value="6">6
            -
            June
          </option>
          <option value="7">7
            -
            July
          </option>
          <option value="8">8
            -
            August
          </option>
          <option value="9">9
            -
            September
          </option>
          <option value="10">10
            -
            October
          </option>
          <option value="11">11
            -
            November
          </option>
          <option value="12">12
            -
            December
          </option>
      </select>
    </div>
    <div class="input-field col s3">
      <!-- <label for="inputMinLimitYear">Enter year:</label> -->
      <select id="inputMinLimitYear" class="browser-default" style="display:block;">
        <option value="" selected="selected">Year</option>
          <option value="2023">2023
          </option>
          <option value="2024">2024
          </option>
          <option value="2025">2025
          </option>
          <option value="2026">2026
          </option>
          <option value="2027">2027
          </option>
          <option value="2028">2028
          </option>
          <option value="2029">2029
          </option>
          <option value="2030">2030
          </option>
      </select>
    </div>
  </div>

  <div class="row" style="margin-bottom: 0;">
    <h6>Enter Maximum index for a stake to be consolidated:</h6>
    <div class="col s3">
      <select id="inputMaxConsolidateIndex" class="browser-default" style="display:block;">
        <option value="{{maxstakeidx}}" selected>{{maxstakeidx}}</option>
         
        {{#if stakescounterarray.length}}
        {{#stakescounterarray}}
          <option value="{{stakeidx}}">{{stakeidx}}
          </option>
        {{/stakescounterarray}}
        {{/if}}
        
      </select>
      <input id="CsldtStakesCounter" type="hidden" value="{{stakescounter}}"></input>
    </div>
  </div>

    <button type="button" class="btn btn-etica btn-dialog-confirm" id="btnAddConsolidateParametersConfirm">Confirm</button>

  </div>
</div>