<div class="walletsHeader">
  <div class="sumBalanceHeader">
    <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
      <img src="assets/images/etica-logo-fond-noir-sanstitre.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
      {{sumBalance}} EGAZ
    </span>
    <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
      <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /> <!-- added style width and height because etica logo appeared too small  -->
      {{sumBalanceEti}} ETI
    </span>
  </div>
</div>


<div style="overflow-y: auto;height: calc(100vh - 10vh);">

<div class="sendWrapper" style="padding-bottom:1vh;">
  <div class="card-panel" style="padding-bottom: 0px;">
    <form class="col s12">
      <div class="row" style="margin-bottom: 0;">
        <div class="input-field col s6">
          <input id="inputStakesBoard" disabled class="" style="color:rgb(209, 209, 209);border-bottom: solid 0.5px rgb(209, 209, 209);;" placeholder="Enter either Proposal Hash, Disease hash (or name), Chunk Id:" type="text">
          <label for="inputStakesBoard" class="active" style="color:white;">Etica address:</label>
          <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
           none staked ETI: {{addressbalance_eti}} <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" />
          </span>
          <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
            | EGAZ: {{addressbalance}} <img src="assets/images/etica-logo-fond-noir-sanstitre.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" />
          </span>
        </div>
        <div class="input-field col s6" style="top:2vh;position: relative; left:3%;">
          &nbsp {{ stakescounter }} stakes
          <button type="button" class="btn btn-etica btnConsolidateStakes MarginRight5" data-stakeaddress="{{address}}">Consolidate</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="sendWrapper" style="height: 5vh;">
  <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
    &nbsp Staked ETI: {{addressstakesamount}} <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" />
  </span>
  <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
    &nbsp&nbsp | &nbsp Bosoms: {{addressbosoms}} <img src="assets/images/bosoms-tinylogo-dark.png" alt height="22" style="width: 23px;top: 0.5vh;height: 23px;position: relative;" />
  </span>
  <span class="sumBalance" style="color:rgb(255, 255, 255);display: inline-block;">
   &nbsp&nbsp | &nbsp Locked ETI: {{addressblockedeticas}} <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" />
  </span>

  {{#if stakes.length}}

<div class="row">

  {{#stakes}}

      <div class="input-field col s5 stakesbox">
        <div style="display:inline;position:relative;left:4%;"><label class="MarginRight5" style="color:#868686;">Amount:</label><span>{{amount}} <img src="assets/images/etica-logo-sanstexte.png" alt height="22" style="width: 19px;top: 0.5vh;height: 19px;position: relative;" /></span></div>
        <br><div style="display:inline;position:relative;left:4%;"><label class="MarginRight5" style="color:#868686;">End:</label><span>{{endTime}}</span></div>
        <div class="input-field col s12">
          <button type="button" class="btn btn-etica btnSnapStake" style="width: 100px;margin-right: 5%;" data-stakeindex="{{stakeindex}}" data-stakeaddress="{{stakeaddress}}" data-stakeamount="{{amount}}">Snap</button>
          {{#if available}}
          <button type="button" class="btn btn-etica btnClaimStake" style="width: 100px;" data-stakeindex="{{stakeindex}}" data-stakeaddress="{{stakeaddress}}" data-stakeamount="{{amount}}">Claim</button>
          {{else}}
          <i>not available for claim yet</i>
          {{/if}}
        </div>
      </div>

  {{/stakes}}

</div>

  {{/if}}

</div>
</div>

<div id="dlgClaimStakeWalletPassword" class="modalDialog" data-izimodal-title="Unlock your wallet" data-izimodal-subtitle="To claim this stake and release associated locked ETI, please enter the wallet password" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group sendTXInfo">
      <i class="fas fa-wallet"></i>
      <label>From address:</label>
      <label id="fromClaimStakeAddressInfo"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Stake Index:</label>
      <label id="valueOfClaimStakeIndex"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Stake Amount:</label>
      <label id="valueOfClaimStakeAmount"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Fee to pay:</label>
      <label id="feeClaimStakeToPayInfo"></label>
      <label class="currencyTicker">EGAZ</label>
    </div>
    <hr class="sendTXdivider">
    <div class="form-group sendTXPass">
      <label for="usr">Enter your Password:</label>
      <input type="password" class=" form-control" id="ClaimStakewalletPassword">
    </div>
    <button type="button" class="btn button3 btn-dialog-confirm" id="btnClaimStakeWalletPasswordConfirm">Confirm</button>
  </div>
</div>


<div id="dlgSnapStakeWalletPassword" class="modalDialog" data-izimodal-title="Unlock your wallet" data-izimodal-subtitle="To claim this vote and release associated locked ETI, please enter the wallet password" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group sendTXInfo">
      <i class="fas fa-wallet"></i>
      <label>From address:</label>
      <label id="fromClaimAddressInfo"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Stake Index:</label>
      <label id="valueOfSnapStakeIndex"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Stake Amount:</label>
      <label id="valueOfSnapStakeAmount"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Fee to pay:</label>
      <label id="feeSnapStakeToPayInfo"></label>
      <label class="currencyTicker">EGAZ</label>
    </div>
    <hr class="sendTXdivider">
    <div class="form-group sendTXPass">
      <label for="usr">Enter your Password:</label>
      <input type="password" class=" form-control" id="SnapStakewalletPassword">
    </div>
    <button type="button" class="btn button3 btn-dialog-confirm" id="btnSnapStakeWalletPasswordConfirm">Confirm</button>
  </div>
</div>

<div id="dlgConsolidateStakesWalletPassword" class="modalDialog" data-izimodal-title="Unlock your wallet" data-izimodal-subtitle="To claim this vote and release associated locked ETI, please enter the wallet password" data-izimodal-icon="icon-home">
  <div class="modalBody">
    <div class="form-group sendTXInfo">
      <i class="fas fa-wallet"></i>
      <label>From address:</label>
      <label id="fromClaimAddressInfo"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Proposal Hash:</label>
      <label id="valueOfConsolidateStakesProposalHash"></label>
    </div>
    <div class="form-group sendTXInfo">
      <i class="fas fa-dollar-sign"></i>
      <label>Fee to pay:</label>
      <label id="feeConsolidateStakesToPayInfo"></label>
      <label class="currencyTicker">EGAZ</label>
    </div>
    <hr class="sendTXdivider">
    <div class="form-group sendTXPass">
      <label for="usr">Enter your Password:</label>
      <input type="password" class=" form-control" id="ConsolidateStakeswalletPassword">
    </div>
    <button type="button" class="btn button3 btn-dialog-confirm" id="btnConsolidateStakesWalletPasswordConfirm">Confirm</button>
  </div>
</div>